.discovery-feed {
  padding: 0 8px;
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
}

.my-masonry-grid {
  display: flex;
  margin-left: -24px; /* offset for gutter */
  width: auto;
}

.my-masonry-grid_column {
  padding-left: 24px; /* column gutter */
  background-clip: padding-box;
}

/* Define row gutter */
.my-masonry-grid_column > * {
  margin-bottom: 24px !important; 
}
